body {
    background-color: #333;
}

.title {
    text-align: center;
    color: white;
}

.nav_bar {
    text-align: center;
}

.nav_button {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #222;
    border: 5px;
    border-radius: 10px;
}

.nav_button:hover {
    background-color: #444;
    border-color: white;
    color: black;
}

.duty_list {
    font-size: 20px;
    text-align: center;
    color: lightgray;
    background-color: #222;
    border: 5px;
    border-radius: 10px;
}

.Reload_button {
    background-color: #111;
    color: white;
    border: 10px;
    font-size: 20px;
    border-radius: 30px;
}

.Reload_button:hover {
    background-color: white;
    color: black;
}
