body {
    background-color: #333;
}

.title {
    text-align: center;
    color: white;
}

.body_text {
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: lightgray;
    background-color: #111;
    border: 10px;
    border-radius: 20px;
}

.nav_bar {
    text-align: center;
}

.nav_button {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #222;
    border: 5px;
    border-radius: 10px;
}

.nav_button:hover {
    background-color: #444;
    border-color: white;
    color: black;
}

.list_box {
    background-color: #222;
    border: 10px;
    border-radius: 20px;
}

.list_item {
    padding: 10px;
    margin: 10px;
    color: lightgray;
    background-color: #111;
    border: 10px;
    border-radius: 20px;
}

.blue_body_text {
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: lightgreen;
    border: 10px;
    border-radius: 20px;
}
