body {
    background-color: #333;
}

.title {
    text-align: center;
    color: white;
}

.body_text {
    color: lightgray;
    text-align: center;
}

.nav_bar {
    text-align: center;
}

.nav_button {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #222;
    border: 5px;
    border-radius: 10px;
}

.nav_button:hover {
    background-color: #444;
    border-color: white;
    color: black;
}

.Settings_Button {
    color: white;
    border: 10px;
    border-radius: 30px;
    background-color: black;
    margin: 5px;
    padding: 10px;
}

.Settings_Button:hover {
    border: 10px;
    border-radius: 30px;
    background-color: #444;
    border-color: white;
    color: black;
}

.button_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px;
    border-radius: 30px;
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
}
